*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 500ms ease;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    height: 100vh;
    /* Created with https://www.css-gradient.com */
background: #AAAAAA;
background: -webkit-radial-gradient(top left, #AAAAAA, #000000);
background: -moz-radial-gradient(top left, #AAAAAA, #000000);
background: radial-gradient(to bottom right, #AAAAAA, #000000);
display: flex;
align-items: center;
}

ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 65px;
    background: rgb(18 11 242 / 8%);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12.5px );
-webkit-backdrop-filter: blur( 12.5px );
border-radius: 0px 10px 10px 0px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding: 20px;
}


ion-icon{
    width: 30px;
    height: 30px;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.main{
    display: flex;
    display: flex;
    column-gap: 13.5rem;
    width: 100%;
    align-items: center;
}

#mindcheck{
    width: 100%;
    height: 400px;
    z-index: -1;
    position: absolute;
}

.wrapper{
    background: rgb(18 11 242 / 8%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
    transform: translatex(100%);
    position: absolute;
    bottom:77px;
    height: 80%;
}

.wrapper.about.active{
    transform: translateX(0%);
}

.wrapper.home.active{
    transform: translateX(0%);
}

.wrapper.contact{
    width: 100%;
}

.wrapper.contact.active{
    transform: translateX(0%);
}

.hero{
    display: block;
    width: 80vw;
    align-self: center;
}

h1{
    font-family: 'Cairo';
    color: whitesmoke;
}

.imgholder{
    height: 464px;
    width: 228px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(123, 11, 242, 0.08);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid{
display: flex;
gap: 10px;
}

p{
    color: white;
}

.pholder{
    border-radius: 20px;
    overflow: hidden;
    background: rgba(123, 11, 242, 0.08);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
}

.list.active ion-icon{
    filter: drop-shadow( 0 0 10px rgb(75, 87, 255));
    color: white;
}

.list ion-icon{
    color: #aaaaaa72;
}

.edu{
    width: max-content;
    color: white;
}

.about li{
    display: flex;
    gap: 10px;
    align-items: center;
}

.facultate{
    font-size: 15px;
    width: 200px;
    top: -55px;
    position: relative;
}

.about ul{
    background: rgba(26, 26, 32, 0.496);
}

.socials{
    position: absolute;
    width: 30px;
    left: 529px;
    bottom: 120px;
    color: white;
}

.linkedin{
    margin-left: 50px;
    filter: drop-shadow( 0 5px 10px rgb(29, 221, 255));
}

.linkedin:hover{
    transform: scale(1.1);
    color: rgb(19, 19, 126);
}

.facebook{
    margin-left: 100px;
    filter: drop-shadow( 0 5px 10px rgb(29, 44, 255));
}

.facebook:hover{
    transform: scale(1.1);
    color: rgb(51, 51, 250);
}

.instagram{
    filter: drop-shadow( 0 5px 10px rgb(255, 29, 135));
}

.instagram:hover{
    transform: scale(1.1);
    color: rgb(216, 39, 228);
}